In [2]:
# Import dependencies
import pandas as pd
import csv

# Cleaning Measurements Data

In [3]:
measurements = pd.read_csv("../adv sql assignment/hawaii_measurements.csv",encoding="iso-8859-1")
stations = pd.read_csv("../adv sql assignment/hawaii_stations.csv",encoding="iso-8859-1")

In [4]:
measurements.shape

(19550, 4)

In [5]:
# look at data to see missing data points. 'prcp' has NAN values
measurements.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [6]:
measurements.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [7]:
measurements_df = pd.DataFrame(measurements)

In [8]:
measurements_df["prcp"].fillna(0, inplace=True)
measurements_clean = measurements_df
measurements_clean.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [9]:
measurements_clean.to_csv("measurement_clean.csv", index = False, sep=',', encoding='utf-8')

# Cleaning Stations data

In [10]:
stations.shape

(9, 5)

In [11]:
stations.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [12]:
stations_clean_df = pd.DataFrame(stations)
stations_clean_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [13]:
stations_clean_df.to_csv("station_clean.csv", index = False, sep=',', encoding='utf-8')

# Merging two dataframes

In [14]:
clean_data = pd.merge(measurements_clean, stations_clean_df,how="inner",on="station")
clean_data.head(5)

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-06,0.00,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [16]:
clean_data.to_csv("measurements_clean_final.csv", index = False, sep=',', encoding='utf-8')